<div class="container w-100 h-100 d-flex align-items-center justify-content-center" style="height: 70vh !important;">
    <div class="d-flex flex-column">
        <h3 class="mx-auto text-center">
            AppX Authentication failed
        </h3>
        <div class="d-flex justify-content-center">
            <a href="/login" class="btn text-white mx-auto btn-success">Go Back</a>
        </div>
    </div>
</div>