<div class="container w-100 h-100 d-flex align-items-center justify-content-center" style="height: 70vh !important;">
    <div class="d-flex flex-column">
        <h3 class="mx-auto text-center">
            Welcome to AppX
        </h3>
        <div class="d-flex justify-content-center">
            <a href="http://db6157926045.ngrok.io/CentralAuthSys/CASLogin?appKey=af12ae48-bc68-4c63-80bd-68f02529e6e5"
                class="btn text-white mx-auto btn-success">Login</a>
        </div>
    </div>
</div>