<div class="container w-100 h-100 d-flex align-items-center justify-content-center" style="height: 70vh !important;">
    <div class="d-flex flex-column">
        <h3 class="mx-auto text-center">
            Welcome to AppX homepage
        </h3>
        <h6 class="mx-auto text-center" style="color:#bbb;">
            Authentication Successful
        </h6>
        <div class="d-flex justify-content-center">
            <a href="#" class="btn text-white mx-auto btn-success">Log out</a>
        </div>
    </div>
</div>